<nav class="navbar navbar-light " style="background-color: #e3f2fd;">
  <span class="navbar-brand">Recipe</span>
  <% if user_signed_in? %>
    <div style="display: flex">
    <div><%= current_user.email %></div>
      <!-- TODO: REMOVE HACK AND USE CSS-->
      <div style="width: 10px"></div>
    <div><%= link_to "Logout", destroy_user_session_path, method: :delete %></div>
    </div>
  <% else %>
    <div style="display: flex">
      <div><%= link_to "Sign Up", new_user_registration_path %></div>
      <!-- TODO: REMOVE HACK AND USE CSS-->
      <div style="width: 10px"></div>
      <div><%= link_to "Login", new_user_session_path %></div>
    </div>
  <% end %>
</nav>


